* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    --calc-size: 16rem;

    --calc-primary-col: #a3d496;
    --calc-bg-col: #6d8f64;
    --calc-text-col: #252e22;
}

body {
    min-height: 100vh;

    padding: 10% 10%;

    color: #eee;
    background-color: #333;
}

button {
    text-decoration: none;
}

.header, .content, .footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    padding: 5%;
}

.header-title {
    font-size: 3rem;
}

.calc {
    min-width: var(--calc-size);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--calc-bg-col);
    border: 2px solid #eee;
    border-radius: 1rem;

    padding: 1rem;
}

.calc-display {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: var(--calc-size);
    height: calc(var(--calc-size) / 6);
    border: 2px solid var(--calc-text-col);
    border-radius: 0.5rem;

    background-color: var(--calc-primary-col);

    color: var(--calc-text-col);
    font-size: calc(var(--calc-size) / 10);
    text-align: right;

    padding: 0 0.25rem;
}

.calc-buttons {
    display: flex;
    flex-flow: column wrap;
}

.calc-row {
    display: flex;
    flex-flow: row wrap;
}

.calc-button {
    font-size: calc((var(--calc-size) / 4) - (var(--calc-size) / 10));
    color: var(--calc-text-col);
 
    width: calc((var(--calc-size) / 4));

    margin: 0.5rem;

    aspect-ratio: 1 / 1;

    background-color: var(--calc-primary-col);
    border: 2px solid var(--calc-text-col);
    border-radius: 0.5rem;
}

.binary-op, .equals {
    background-color: #dbab6b;
}

.clear {
    background-color: #db736b;
}

.calc-button:hover {
    opacity: 0.5;
}